# Notebook libre
Ce notebook est destiné, après avoir [pris connaissance du principe des Notebooks](http://localhost:8888/notebooks/workbooks/00_presentation.ipynb), à vous laisser prendre des notes libres en dehors des thèmes des autres Notebooks.

In [ ]:
#install python 3.8

In [ ]:
#download https://github.com/darko-itpro/formation-Python_bases

In [ ]:
#download & run PyCharm

In [ ]:
#open project (formation)

In [ ]:
#clic en bas à droit sur python 3.8 puis interpreter settings > add > OK

In [ ]:
#pip install jupyter

In [1]:
#jupyter notebook

In [2]:
print("Hello World")

Hello World

In [6]:
3 + 4
7 * 4

28

In [4]:
"Hello " + "World"

'Hello World'

In [7]:
"Result : " + 42

TypeError: can only concatenate str (not "int") to str

In [8]:
42 + " is the result"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
print(print(7))

7
None

In [11]:
print()

In [12]:
type(7)

int

In [13]:
type("42")

str

In [14]:
type(None)

NoneType

In [15]:
answer = 42

In [16]:
answer

42

In [17]:
type(answer)

int

In [18]:
answer = "42"

In [19]:
type(answer)

str

In [20]:
del answer

In [21]:
answer

NameError: name 'answer' is not defined

In [22]:
int("42")

42

In [23]:
float(42)

42.0

In [24]:
int(42.8)

42

In [25]:
round(42.8)

43

In [26]:
int("4 2")

ValueError: invalid literal for int() with base 10: '4 2'

In [28]:
2e3

2000.0

In [29]:
2**3

8

In [30]:
5/2

2.5

In [31]:
5//2

2

In [32]:
5%2

1

In [34]:
hex(0b10100)

'0x14'

In [37]:
def say_hello():
    print("Hello World")

In [38]:
say_hello()

Hello World

In [39]:
def give_hello():
    return "Hello World"

In [40]:
give_hello()

'Hello World'

In [41]:
def say_hello(who):
    print("Hello " + who)

In [42]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'who'

In [44]:
say_hello("me")

Hello me

In [45]:
print("Hello", "World", 42)

Hello World 42

In [46]:
say_hello(42)

TypeError: can only concatenate str (not "int") to str

In [49]:
def say_hello(who):
    print("Hello", who)

In [50]:
say_hello(42)

Hello 42

In [51]:
def say_hello(who="World"):
    print("Hello", who)

In [53]:
say_hello()
say_hello("me")

Hello World
Hello me

In [54]:
def create_account(nid, value=100, overdraft):
    print(nid, value, overdraft)

SyntaxError: non-default argument follows default argument (<ipython-input-54-748ea6355ff7>, line 1)

In [55]:
def create_account(nid, value=100, overdraft=False):
    print(nid, value, overdraft)

In [56]:
create_account("My Id")
create_account("My Id", 500)
create_account("My Id", 1000, True)

My Id 100 False
My Id 500 False
My Id 1000 True

In [57]:
create_account("My Id", overdraft=True)

My Id 100 True

In [58]:
True or 0

True

In [59]:
1 or False

1

In [61]:
delay = 15
valeur = "a l'heure" if delay < 10 else "retard"
print(valeur)

retard

In [4]:
TEMPLATE_FR = "Prix : {:10.2f} {}"
TEMPLATE_US = "Price: {1}{0:.2f}"

CURRENCY_EU = "€"
CURRENCY_US = "$"

def display_price(template, price, currency):
    print(template.format(price, currency))

In [5]:
display_price(TEMPLATE_US, 52, CURRENCY_US)

Price: $52.00

In [6]:
display_price(TEMPLATE_FR, 42, CURRENCY_EU)
display_price(TEMPLATE_FR, 42.348, CURRENCY_EU)

Prix :      42.00 €
Prix :      42.35 €

In [11]:
price_ht = 42
currency = "€"

f"Prix : {price_ht * 1.2:.2f} {currency}"

'Prix : 50.40 €'

In [16]:
def func(*args):
    print(args)

In [17]:
func()
func(1)
func(2, 3, 5)

()
(1,)
(2, 3, 5)

In [18]:
func(*divmod(56,20))

(2, 16)

In [19]:
def funk(**kwargs):
    print(kwargs)

In [20]:
funk(0)

TypeError: funk() takes 0 positional arguments but 1 was given

In [21]:
funk(first=0)

{'first': 0}

In [22]:
king = "Arthur"

In [23]:
list(king)

['A', 'r', 't', 'h', 'u', 'r']

In [24]:
max(list(king))

'u'

In [25]:
list(king)[-1]

'r'

In [26]:
list(king)[1:4]

['r', 't', 'h']

In [27]:
list(king)[:3]

['A', 'r', 't']

In [28]:
list(king)[-2:]

['u', 'r']

In [29]:
list(king)[::2]

['A', 't', 'u']

In [30]:
list(king)[1:4:2]

['r', 'h']

In [31]:
list(king)[0:3] + list(king)[3:6]

['A', 'r', 't', 'h', 'u', 'r']

In [32]:
lking = list(king)

In [48]:
camelot = ["Arthur", "Robin", "Perceval"]

In [57]:
camelot.append(["Perceval", "Caradoc"]) # append n'ajoute toujours qu'1 element

In [50]:
camelot

['Arthur', 'Robin', 'Perceval', ['Perceval', 'Caradoc']]

In [51]:
camelot.extend("Merlin")

In [52]:
camelot

['Arthur',
 'Robin',
 'Perceval',
 ['Perceval', 'Caradoc'],
 'M',
 'e',
 'r',
 'l',
 'i',
 'n']

In [53]:
camelot = ["Arthur", "Robin", "Perceval"]

In [54]:
camelot.pop()

'Perceval'

In [61]:
camelot = ["Arthur", "Robin", "Perceval"]

In [62]:
camelot.pop(0)

'Arthur'

In [63]:
camelot

['Robin', 'Perceval']

In [64]:
camelot.insert(0, "Arthur")

In [65]:
camelot

['Arthur', 'Robin', 'Perceval']

In [66]:
del camelot[-1]

In [67]:
camelot

['Arthur', 'Robin']

In [68]:
"Robin" in camelot

True

In [69]:
camelot = ["Arthur", "Robin", "Perceval"]

In [70]:
camelot.reverse()

In [71]:
camelot

['Perceval', 'Robin', 'Arthur']

In [72]:
camelot.sort()

In [74]:
camelot = ["Arthur", "Robin", "Perceval"]

In [75]:
camelot

['Arthur', 'Robin', 'Perceval']

In [76]:
sorted(camelot)

['Arthur', 'Perceval', 'Robin']

In [77]:
camelot

['Arthur', 'Robin', 'Perceval']